<%- include('component/head') %>

<body>
    <%- include('component/navbar') %>
    <%- include('component/homepage_corousel') %>

    <!-- ------- after caurosoul div    start  -->
    <div id="after-carousel-box">
        <div class="characteristics">
            <div>
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/b3_v2__1631891124384.png"
                    alt="">
                <div>
                    <h3>top 1%</h3>
                    <p>Global Universities</p>
                </div>
            </div>
    
            <div>
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/1_on_1_icon__1632241051845.png"
                    alt="">
                <div>
                    <h3>1:1 Sessions</h3>
                    <p>With Experts</p>
                </div>
            </div>
            <div>
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/b1_v2__1631891093316.png"
                    alt="">
                <div>
                    <h3>Jobs in 1000+</h3>
                    <p>Top Companies</p>
                </div>
            </div>
            <div>
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/b4_v2__1631891143728.png"
                    alt="">
                <div>
                    <h3>50%</h3>
                    <p>Average Hikes</p>
                </div>
            </div>
        </div>
        <button class="explore-course-btn btn-style">EXPLORE OUR COURSES</button>
        <div class="unlist-box">
            <h1 class="characteristics">Our Top University Partners</h1>
    
            <div class="univer">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/UoA240x100__1631948960265.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/Deakin240x100__1631948602154.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/IITMadras240x100__1631948817031.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/IIM-Kozhikode240x100__1631948695650.jpg"
                    alt="">
            </div>
            <div class="univer">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/IIITB240x100__1631949019436.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/MICA240x100__1631950152994.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/Duke-240x100__1631947911881.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/NMIMS240x100__1631948914734.jpg"
                    alt="">
            </div>
        </div>
    </div>
 
    <!-- ------- after caurosoul div    end  -->
    

    <div id="product-section">
        <div >
            <h1>Our Courses</h1>
            <div>
                <button class=" cource_selection_btn" style="font-weight: 600;" value="mb" onclick="location.href = `/product?section=mba`">
                    MBA
                </button>
                <button class="cource_selection_btn" value="ds" onclick="location.href = `/product?section=datascience`">
                    Data Science
                </button>
                <button class="cource_selection_btn"  value="ml">
                    AI | ML
                </button>
                <button class="cource_selection_btn"  value="bc">
                    BlockChain
                </button>
            </div>
        </div>
        <!-- <div id="product-carousel">
    
            </div> -->
    </div>

    <!--  -->
    
</body>
</html>