<%- include('component/head') %>

<body>
    <%- include('component/navbar') %>
    <%- include('component/homepage_corousel') %>

    <!-- ------- after caurosoul div    start  -->
    <div id="after-carousel-box">
        <div class="characteristics">
            <div>
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/b3_v2__1631891124384.png"
                    alt="">
                <div>
                    <h3>top 1%</h3>
                    <p>Global Universities</p>
                </div>
            </div>
    
            <div>
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/1_on_1_icon__1632241051845.png"
                    alt="">
                <div>
                    <h3>1:1 Sessions</h3>
                    <p>With Experts</p>
                </div>
            </div>
            <div>
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/b1_v2__1631891093316.png"
                    alt="">
                <div>
                    <h3>Jobs in 1000+</h3>
                    <p>Top Companies</p>
                </div>
            </div>
            <div>
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/b4_v2__1631891143728.png"
                    alt="">
                <div>
                    <h3>50%</h3>
                    <p>Average Hikes</p>
                </div>
            </div>
        </div>
        <button class="explore-course-btn btn-style">EXPLORE OUR COURSES</button>
        <div class="unlist-box">
            <h1 class="characteristics">Our Top University Partners</h1>
    
            <div class="univer">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/UoA240x100__1631948960265.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/Deakin240x100__1631948602154.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/IITMadras240x100__1631948817031.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/IIM-Kozhikode240x100__1631948695650.jpg"
                    alt="">
            </div>
            <div class="univer">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/IIITB240x100__1631949019436.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/MICA240x100__1631950152994.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/Duke-240x100__1631947911881.jpg"
                    alt="">
                <img src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/NMIMS240x100__1631948914734.jpg"
                    alt="">
            </div>
        </div>
    </div>
 
    <!-- ------- after caurosoul div    end  -->
    

    <div id="product-section" style="padding-bottom: 100px;">
        <div >
            <h1>Our Courses</h1>
            <div>
                <button class=" cource_selection_btn" style="font-weight: 600;" value="mb" onclick="location.href = `/product?section=mba`">
                    MBA
                </button>
                <button class="cource_selection_btn" value="ds" onclick="location.href = `/product?section=datascience`">
                    Data Science
                </button>
                <button class="cource_selection_btn"  value="ml">
                    AI | ML
                </button>
                <button class="cource_selection_btn"  value="bc">
                    BlockChain
                </button>
            </div>
        </div>
        <!-- <div id="product-carousel">
    
            </div> -->
    </div>

    <!-- ====================================================================  -->

    <div class="explore" >
    
    
        <h2 class="not">Not sure of the above domains?</h2>
        <h1 class="free">Explore Free Courses</h1>
        <div class="container" style="border: 0px solid green; margin: auto;">
            <div class="cour" ">
                <div class=" cour1">
    
                <div class="cour2" >
    
                    <img class="datimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/720x400_DSML__1640685198472.png" />
                    <h1 class="datsc">Data Science</h1>
                    <p>
                        Build your foundation in the hottest industry of the 21st century
                    </p>
                    <button type="button" class="know">
                        Know More
                    </button>
                </div>
    
            </div>
            <div class="cour1">
                <div class="cour2">
    
                    <img class="datimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/720x400_Management__1640684894622.png" />
                    <h1 class="datsc">MBA and Management</h1>
                    <p>
                        Take your first step towards becoming a leader in your work
    
                    </p>
                    <button type="button" class="know">
                        Know More
                    </button>
    
                </div>
            </div>
            <div class="cour1">
                <div class="cour2">
    
                    <img class="datimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/720x400Technology__1640776472617.png" />
                    <h1 class="datsc">Digital Marketing</h1>
                    <p>
                        The ultimate guide to building a rewarding career in Digital Marketing Industry
    
                    </p>
                    <button type="button" class="know">
                        Know More
                    </button>
                </div>
    
            </div>
        </div>
    </div>
    <div class="view">
        <a href="#_" class="viewall">
            <span class="view1"></span>
    
            <span class="relative">View All Free Courses</span>
    
            <svg class="svg" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
    
    </div>
    <h2 class="want">Want to learn life skills quickly?</h2>
    <h1 class="free">Explore Free videos & Live classes</h1>
    <div class="container">
        <div class="cour">
            <div class="cour1">
                <div class="cour2">
                    <img class="datimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/MasterClass__1633011400821.jpg" />
                    <h2 class="datsc">Master Class</h2>
                    <p>
                        Learn how to be a sucessful & holistic professional from life learnt master for free
                    </p>
                    <button type="button" class="know">
                        Explore Now
                    </button>
                </div>
            </div>
            <div class="cour1">
                <div class="cour2">
                    <img class="datimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/ShortVideos__1633013236539.jpg" />
                    <h2 class="datsc">Short Videos</h2>
                    <p>
                        Build how to be a successful & holistic professional from life learnt masters for free
                    </p>
                    <button type="button" class="know">
                        Explore Now
                    </button>
                </div>
            </div>
            <div class="cour1">
                <div class="cour2">
                    <img class="datimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/LiveClasses__1633011455159.jpg" />
                    <h2 class="datsc">Live Classes</h2>
                    <p>
                        Be a part of free interactive expert sessions on career growth & transition
                    </p>
                    <button type="button" class="know">
                        Explore Now
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="view">
        <a href="#_" class="viewall">
            <span class="view1"></span>
    
            <span class="relative">View All Free Videos</span>
    
            <svg class="svg" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd"
                    d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                    clip-rule="evenodd"></path>
            </svg>
        </a>
    
    </div>
    <div class="hovvideo">
        <div class="hovvideo1">
            <img class="hovimg"
                src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/online_workshops__1630658663980.jpg" />
        </div>
        <div class="hovvideo1">
            <img class="hovimg"
                src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/new-images%2Fhome%2Fslide-images/mentorship_516x336__1632223895741.jpg" />
        </div>
    </div>
    
    <h2 class="alumni">Our other Alumni</h2>
    <div class="container  alumni1">
    
        <!-- <div class="alumni2"> -->
            <div class="alumni21">
                <div class="alumni31">
                    <img alt="person" class="alumniimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/AK__1600173517619.jpg"
                        alt="">
                    <h3 class="alumniname">Akash kumar</h3>
                    <img alt="logo" class="alumniimg1"
                        src="https://cdn.iconscout.com/icon/free/png-64/bmw-3441584-2874353.png" />
    
                </div>
            </div>
            <div class="alumni21">
                <div class="alumni31">
                    <img alt="person" class="alumniimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/aa__1600125771940.jpg"
                        alt="">
                    <h3 class="alumniname">Amarpal Singh</h3>
                    <img alt="logo" class="alumniimg1"
                        src="https://cdn.iconscout.com/icon/free/png-64/tata-3441644-2874413.png" />
                </div>
    
            </div>
            <div class="alumni21">
                <div class="alumni31">
                    <img alt="person" class="alumniimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/ff__1600125870959.jpg"
                        alt="">
                    <h3 class="alumniname">Santhosh Francis</h3>
                    <img alt="logo" class="alumniimg1"
                        src="https://cdn.iconscout.com/icon/free/png-64/renault-3441293-2874742.png" />
                </div>
    
            </div>
            <div class="alumni21">
                <div class="alumni31">
                    <img alt="person" class="alumniimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/vv__1600175764695.jpg"
                        alt="">
                    <h3 class="alumniname">Jai Singh Bhagat</h3>
                    <img alt="logo" class="alumniimg1"
                        src="https://cdn.iconscout.com/icon/free/png-64/volkswagen-3441653-2874422.png" />
                </div>
    
            </div>
            <div class="alumni21">
                <div class="alumni31">
                    <img alt="person" class="alumniimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/yy__1600175870988.jpg"
                        alt="">
                    <h3 class="alumniname">Jaya Priya</h3>
                    <img alt="logo" class="alumniimg1"
                        src="https://cdn.iconscout.com/icon/free/png-64/toyota-3441306-2874755.png" />
                </div>
    
            </div>
            <div class="alumni21">
                <div class="alumni31">
                    <img alt="person" class="alumniimg"
                        src="https://ik.imagekit.io/upgrad1/marketing-platform-assets/sprites%2Fimages/me__1600176006491.jpg"
                        alt="">
                    <h3 class="alumniname">Mathew George</h3>
                    <img alt="logo" class="alumniimg1"
                        src="https://cdn.iconscout.com/icon/free/png-64/audi-3441579-2874348.png" />
                </div>
    
            </div>
    
    
    
        <!-- </div> -->
    
    </div>
    
    
    
    
    <h2 class="alumniwork">Where our Almuni Work</h2>
    <div class=" alumniwork1">
        <div class="alumniwork2">
            <div class="alumniwork3">
                <img alt="logo" class="logoimg" src="https://www.logodesign.net/images/home-logos/alphabet-a.png" />
    
            </div>
            <div class="alumniwork3">
                <img alt="logo" class="logoimg"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr-B1e9XkQOkiWALdsZbw59263aYhKn8ikfZUJmQPuvDV15-oG2OIpPe7RTy-NqbEumA&usqp=CAU" />
            </div>
            <div class="alumniwork3">
                <img alt="logo" class="logoimg"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSwXH0FbyNdsjiF2uPv7FGTi6GnalLGwy0sUA&usqp=CAU" />
            </div>
            <div class="alumniwork3">
                <img alt="logo" class="logoimg"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSdW3MSrWWu28WU0jBhBR56tSr8J2iIeYxo2A&usqp=CAU" />
            </div>
            <div class="alumniwork3">
                <img alt="logo" class="logoimg"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXgTzk_YvUQ2x_kvUs6hVNkwVnv6UFWWlLVA&usqp=CAU" />
            </div>
            <div class="alumniwork3">
                <img alt="logo" class="logoimg"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNxwSM3md_OPGQUQEpCfPLn6Yus4nkPdU3XA&usqp=CAU" />
            </div>
            <div class="alumniwork3">
                <img alt="logo" class="logoimg"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS4hs2hdIM1qLf9J7B0Zzcst5DWGNfKYQsaMA&usqp=CAU" />
            </div>
            <!-- <div class="alumniwork3">
                <img alt="logo" class="logoimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWoz9FX9YY9KTJvKyjdL5rLeFvi8x9nouPIA&usqp=CAU"/>
              </div> -->
            <!-- <div class="alumniwork3">
                <img alt="logo" class="logoimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwUmrVWyNS_Rjz-0wAnAdDOpPIGxfDRI0Seg&usqp=CAU"/>
              </div> -->
        </div>
    </div>
    <div class="alumniimg1">
        <button class="handbook">GET CAREER HANDBOOK
            <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                class="handbook1" viewBox="0 0 24 24">
                <path d="M5 12h14M12 5l7 7-7 7"></path>
            </svg>
        </button>
    
    </div>
    
    <h2 class="news">upGrad in the News</h2>
    <h1 class="news1">Our Media Presence</h1>
    <section class="news2">
        <div class="news3">
            <!-- <div class="news4">
                  
          
                </div> -->
            <div class="news5">
                <div class="news6">
                    <div class="news7">
    
    
    
                        <p class="leadingnews">upGrad commits to 'fast-forward your career in latest ad film</p>
                    </div>
                </div>
                <div class="news6">
                    <div class="news7">
    
    
    
                        <p class="leadingnews">upGrad scores $185 milion this year to join India’s Unicorns.</p>
                    </div>
                </div>
                <!-- <div class="news6">
                    <div class="news7">
                      
                      
                      
                      <p class="leadingnews">upGrad scores $185 milion this year to join India’s Unicorns.</p>
                    </div>
                  </div> -->
                <div class="news6">
                    <div class="news7">
    
    
    
                        <p class="leadingnews">upGrad scores $185 milion this year to join India’s Unicorns.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="queries">
    
    
        <h2 class="queries1">For queries, feedback & assistance</h2>
        <h1 class="queries2">upGrad Learner Support</h1>
        <h1 class="queries3">(7 AM - 12 AM)</h1>
        <section class="queries4">
            <div class="container queries5">
    
                <div class="queries6">
    
                    <div class="queries7">
                        <h1 class="nationals">For Indian Nationals</h1>
                        <div class="nationals_number">
    
                            <span class="nationals_number1">+91 22 6505 4631</span>
                        </div>
                    </div>
                    <div class="queries7">
                        <h1 class="nationals">For International</h1>
                        <div class="nationals_number">
    
    
                            <span class="nationals_number1">1800-210-2020</span>
                        </div>
                    </div>
                </div>
    
            </div>
        </section>
        <div>
    
    
        </div>
    </div>
    </hr>
    <div class="disclaimer">
        <h3 class="disclaimer1">Disclaimer:</h3>
        <p>upGrad is India’s largest online higher education company, as per monthly visit data and total visits data for
            the last 28 days received from similarweb, as on April 13, 2020.
    
            Deakin University CRICOS Provider Code 00113B.</p>
    </div>
    </div>
    
</body>
</html>