
body{
    background-color: white;
    font-family: 'Montserrat', sans-serif;
}
 /* General css */
 
 .space-bet-flex{
    display: flex;
    /* border: 1px solid black; */
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
     /* position: -webkit-sticky; Safari */
  position: relative
  /* top: 0; */
  /* z-index: 100; */

  
}

.btn-style{
    background-color: rgb(242,62,54);
    color: rgb(255,255,255);
    justify-content: center;
    position: relative;
    cursor: pointer;
       
}
.cource_selection_btn{
font-weight: 600;
background-color: #F23E36;
border: rgb(176,190,197) 1px solid;
    background-color: white;
    color: rgb(26, 25, 25);
    border-radius: 6px;
    height: 50px;
    padding: 12px 40px;
    z-index: 2;
    cursor: pointer;
}


.btn-style:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #F23E36;
    color: white;
}
.cource_selection_btn:hover {
     box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    background-color: #F23E36;
    color: white;
}

.nav-text-btn{
   color: rgb(83,91,98); 
    font-weight: 600;
    font-size: 13px;
    /* border: 1px solid red; */
    position: relative;
    /* width: ; */
    cursor: pointer;
}

.nav-text-btn:hover{
    color: rgb(238,44,60);
}

/* specific css */
.navbar{
    height: 74px;
    padding: 0px 110px;
    background-color: rgb(255,255,255);
    padding-bottom: 8px;
    color: blanchedalmond;
}

.left-nav{
height: 100%;
box-sizing: border-box;
gap: 35px;
}


.right-nav{
    gap: 110px;
}

 

.text-btn-container{
    gap: 10px;
    margin-left: 20px;
    /* border: 1px solid blue; */
    width: 500px;
}



.nav-logo{
   color: rgb(238,44,60);
   font-size: 24px;
   font-weight:900;
   letter-spacing:0px;
   margin-bottom: 6px;
   cursor: pointer;
}

.nav-logo-span{
    font-size: 30px;
}

.courses-btn{
height: 35px;
width: 135px;
border-radius: 6px;
font-weight: 600;
gap: 5px;
}

.courses-btn:hover{
background-color: white;
color: rgb(238,44,60);
border: 1px solid rgb(242,62,54);
font-weight: 500;
}


#sign-up-btn{
    height:43px ;
    width: 100px;
    border-radius: 6px;
    font-weight: 600;
}

.arrow{
    font-size: 18px;
    margin-left: 5px;
    /* margin-top: 3px; */
    transition: .2s;
}

.btn-style:hover .arrow, .nav-text-btn:hover .arrow{
transform: rotate(180deg);
}

.more{
    position: absolute;
    top: 210%;
    left:0% ;
    background-color: white;
    border-radius: 6px;
width: 280px;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 28px;
    box-sizing: border-box;
    visibility: hidden;
    transition:visibility 0.1s 0s ease;
}
.more-dropdown-text{
    margin: 0px;
    padding: 0px;
    font-size: 14px;
    color: rgb(83,91,98);
    

}

.more-dropdown-text:hover{
  
color: rgb(238,44,60);
}

.nav-text-btn:hover .more{
    visibility: visible;
}

*, *::after, *::before {
    box-sizing: border-box;
  }
  
  .modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0);
    transition: 200ms ease-in-out;
    
    border-radius: 10px;
    z-index: 10;
    background-color: white;
    width: 900px;
    max-width: 80%;
    display: flex;
  }
  
  .modal.active {
    transform: translate(-50%, -50%) scale(1);
  }
  
  .modal-header {
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
  }
  
  .modal-header .title {
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  .modal-header .close-button {
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 1.25rem;
    font-weight: bold;
  }
  
  
  
  #overlay {
    position: fixed;
    opacity: 0;
    transition: 200ms ease-in-out;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .5);
    pointer-events: none;
  }
  
  #overlay.active {
    opacity: 1;
    pointer-events: all;
  }
  
        .modal-body{
            padding: 10px 15px;
            
            width: 80%;
            margin:auto;
            display: flex;
            justify-content: space-between;
            margin-top: 10%;
            height: 300px;
            gap: 2%;
            
        
        }
        #imgg{
            flex: 4;
        }
        .details{
            flex: 3;
            height: 260px;
            width: 500px;
            overflow: hidden;
            /* border: 1px solid black; */
        }
        #imgg>img{
            width: 110%;
            height: 80%;
            margin-top: 15%;
           
        }
        #imgg{
            width: 40%;
            flex-basis: 50%;
            margin-top: 10%;
            
        }
        #num{
            display: flex;
            gap: 2%;
            margin-top: 20px;
            margin-bottom: 20px;
            justify-content: space-between;
        

        }
        #num>img{
            flex:2;
            width: 10%;
        }
        h3{
            flex: 3;
            margin-left: 2%;
        }
        #num>input{
            flex: 6;
            border: none;
            color: grey;
            font-size: 20px;
            margin-left: 4%;
            padding-left: 1%;
            

        }
        .continue{
            width: 80%;
            background-color:lightgray;
            color:white;
            border: none;
            margin-left: 5%;
            height: 40px;
            margin-top: 2%;

        }
        a{
            color: rgb(189, 189, 189);
            
        }
        a>h5{
            margin-left: 32%;
            margin-top: 5%;
        }
        #close{
            cursor: pointer;
        }
        .close-button{
            border: none;
            width: 50px;
            position: relative;
            height: 30px;
            font-weight: bold;
            font-size: large;
            cursor: pointer;

        }
        #otp{
            height: 50px;
            flex: 6;
            border: none;
            color: grey;
            font-size: 20px;
            margin-left: 4%;
            padding-left: 1%;
            border-bottom: 1px dotted lightgray;

        }
        #email{
          display: block;
        }
        #nameForm{
            border: 2px solid black;
            height: 0px;
            overflow: hidden;
            

        }
        #nameForm>input{
            
        }
        

