<div class="space-bet-flex navbar" id="navbar">
    <div class="space-bet-flex navbar">
        <div class="space-bet-flex left-nav ">
            <div onclick=" window.location.href = '/home'">
                  <div class="nav-logo"> up<span class="nav-logo-span">G</span>rad</div>
            </div>
            

            <div class=" space-bet-flex btn-style courses-btn" id="courses-btn">Courses<i
                    class="fas fa-angle-down arrow"></i>
            </div>
        </div>


        <div class="space-bet-flex right-nav">
            <div class="space-bet-flex text-btn-container">
                <div class="nav-text-btn">HIRE FROM UPGRAD</div>
                <div class="nav-text-btn">STUDY ABROAD</div>
                <div class="nav-text-btn">FOR BUSINESS</div>
                <div class="nav-text-btn ">
                    MORE
                    <i class="fas fa-angle-down arrow">

                    </i>
                    <div class="more">
                        <h3 class="more-dropdown-text">Mentorship</h3>
                        <h3 class="more-dropdown-text">Short Videos</h3>
                        <h3 class="more-dropdown-text">Live MasterClass</h3>
                        <h3 class="more-dropdown-text">Master Class</h3>
                        <h3 class="more-dropdown-text">Refer and Earn</h3>
                        <h3 class="more-dropdown-text">Blog</h3>
                        <h3 class="more-dropdown-text">Become A Business Associate</h3>
                    </div>
                </div>
            </div>
            <div data-modal-target="#modal" style="display: flex;justify-content: center; align-items: center;text-align: center;" class="btn-style space-bet-flex" id="sign-up-btn">Sign Up</div>
        </div>
    </div>
    <div class="modal"  id="modal">
        <div id="imgg" >
            <img
                src="https://media.istockphoto.com/vectors/various-people-with-smart-gadgetsbooks-on-backgroundeducation-and-vector-id1161994875" />
        </div>

        
        <div class="modal-body">
           <form action="/users/addUser" method="post">

            <div id="details" class="details">
                <h2 id="h2" style="color:black;">Enter Your Mobile Number To Start Learning</h2>
                <div id="dis"></div>
                <div id="num">
                    <img src="https://www.countryflags.com/wp-content/uploads/india-flag-png-large.png" />
                    <h3 style="color:black">+91</h3>
                    <input class = "input" id="number" name="mobile" type="number" placeholder="99999 99999" />
                </div>
                <button type="button" id="continue" class="continue">CONTINUE -></button>
              
                <a href="">
                    <h5>Proceed With Email</h5>
                </a>


            </div>
            <div id="details2" class="details" style="height: 0px;width: 0px;flex: 0;">
              <h2 id="h2" style="color:black;">Enter Your Mobile Number To Start Learning</h2>
              <div id="dis"></div>
              <div id="num">
                <input class="input" id="name" type="text" name="name" placeholder="enter name" />
                <input class="input" id="email" type="email" name="email" placeholder="emter email" />
              </div>
              <button type="submit" class="continue">CONTINUE -></button>
            
              <a href="">
                <h5>Proceed With Email</h5>
              </a>
            
            
            </div>
        </form>


        </div>
     

        <button data-close-button class="close-button">&times;</button>
    </div>



    <div id="overlay"></div>
</div>


<script>
   

    const openModalButtons = document.querySelectorAll('[data-modal-target]')
const closeModalButtons = document.querySelectorAll('[data-close-button]')
const overlay = document.getElementById('overlay')

openModalButtons.forEach(button => {
  button.addEventListener('click', () => {
    const modal = document.querySelector(button.dataset.modalTarget)
    openModal(modal)
  })
})

overlay.addEventListener('click', () => {
  const modals = document.querySelectorAll('.modal.active')
  modals.forEach(modal => {
    closeModal(modal)
  })
})

closeModalButtons.forEach(button => {
  button.addEventListener('click', () => {
    const modal = button.closest('.modal')
    closeModal(modal)
  })
})

function openModal(modal) {
  if (modal == null) return
  modal.classList.add('active')
  overlay.classList.add('active')
}

function closeModal(modal) {
  if (modal == null) return
  modal.classList.remove('active')
  overlay.classList.remove('active')
}



</script>

<% if(user !==undefined) { %>

  <script>
   

    let userr = {
      name: '<%-user.name%>',
      email: '<%-user.email%>'

    };

  localStorage.setItem("userData", JSON.stringify(userr))


    console.log(userr);
  </script>
  <% } %>

    <script>
     

  let btn = document.getElementById("continue");
  var count = 0;
  btn.addEventListener("click", cont);
  let form = document.querySelector("form");
//form.addEventListener("submit",cont2);


    function cont(){
      
        let number = document.getElementById("number").value;
        let name = document.getElementById("name").value;
        let email = document.getElementById("email").value;
        let num = document.getElementById("num");

        const details = document.getElementById("details")
        const details2 = document.getElementById("details2")

        details.style.height = "0px";
        details.style.width = "0px";
        details.style.flex = "0";

        details2.style.height = "260px";
      details2.style.width = "500px";
      details2.style.flex = "3";
      

      localStorage.setItem("userFinal",JSON.stringify(user));
      let user={
               name:name,
               email:email,

             };



    }

    
        function cont1(otp){
             otp = document.getElementById("otp").value;
             email = document.getElementById("email").value;

             console.log(otp);
             closeModal(modal);
             let user={
               name:name,
               email:email,

             };
             

             localStorage.setItem("userFinal",JSON.stringify(user));
        

        

        if(otp=="1234"){
            alert("logged in");
            

        };
        
    }

    let change =  document.getElementById("number");
    change.addEventListener("input",change_red);

    function change_red(){
      //count=0;
      count++;
      if(count==10){
        btn.style.backgroundColor="red";
      }
    }


     let uName = JSON.parse(localStorage.getItem("userData"));
      let signUp = document.getElementById("sign-up-btn");
      console.log(uName);

      if (uName.name == "") {
        signUp.textContent = "Sign Up"
      } else {
        signUp.textContent = uName.name;
      }
    

   
</script>
